@font-face {
  font-family: 'Century Expanded LT Std';
  src: url(../fonts/AnyConv.com__CenturyExpandedLTStd.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url(../fonts/AnyConv.com__ITCFranklinGothicStd-BkCp.woff2);
  font-weight: 400;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url(../fonts/AnyConv.com__ITCFranklinGothicStd-Demi.woff2);
  font-weight: 600;
}

html {
  background-color: #09392F;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 375px;
  background-image: url(../img/texture.webp);
  color: #09392F;
}

img {
  width: 268px;
  margin: auto;
  display: block;
}

a {
  color: #09392F;
  text-decoration: none;
}

header li {
  font-family: ITC Franklin Gothic Std;
  font-size: 24px;
  list-style: none;
}

.arrow-menu {
  height: 340px;
}

.button-shop img {
  width: 20px;
}