html {
  background-color: #09392F;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 375px;
  background-image: url(../img/texture.webp);
}

img {
  width: 268px;
  margin: auto;
  display: block;
}

.arrow-menu {
  height: 340px;
}

.button-shop img {
  width: 20px;
}