@font-face {
  font-family: 'Century Expanded LT Std';
  src: url('../fonts/centuryexpandedltstd.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url('../fonts/itcfranklingothicstd-book.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'ITC Franklin Gothic Std';
  src: url('../fonts/itcfranklingothicstd-demi.woff2') format('woff2');
  font-weight: 600;
}

html {
  background-color: #09392F;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  max-width: 375px;
  background-image: url(../img/texture.webp);
  color: #09392F;
  padding: 80px 53px 0;
  font-family: 'ITC Franklin Gothic Std';
}

footer {
  background-color: #AEA89550;
  padding: 60px;
  margin-top: 60px;
}

img {
  width: 268px;
  margin: 40px auto;
  display: block;
}

.product img,
.map img {
  margin: 0;
}

.button-shop img {
  width: 20px;
}

h1 {
  font-family: 'Century Expanded LT Std';
  font-weight: 400;
  font-size: 24px;
  margin-top: 100px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  color: #AEA895;
  margin: 50px 0 15px;
}

h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

h4 {
  font-family: 'Century Expanded LT Std';
  font-weight: 400;
  font-size: 16px;
}

h5 {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

h6 {
  font-family: 'Century Expanded LT Std';
  font-size: 16px;
  font-weight: 400;
  color: #AEA895;
  margin: 0;
}

a {
  color: #09392F;
  text-decoration: none;
}

.menu a {
  font-weight: 600;
  font-size: 24px;
  margin: 5px 0;
}

p {
  font-size: 20px;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

header li {
  font-size: 24px;
  list-style: none;
}

.menu-arrow {
  height: 340px;
  width: 53px;
  margin: 0;
  position: absolute;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

nav {
  position: relative;
  transform: translate(20%);
  margin: 110px 0 200px 0;
}

.button-shop p {
  color: #AEA895;
  font-size: 14px;
  font-weight: 400;
  padding: 15px 10px;
  margin: 0;
}

.button-shop-container {
  display: flex;
  flex-direction: row;
  background-color: #09392F;
  margin-top: 20px;
}

.button-shop {
  position: sticky;
  bottom: 0;
  right: 50%;
}

.map ul {
  margin: 0;
}

ul .element-1 {
  list-style-image: url(../img/pin_1.svg);
}

ul .element-2 {
  list-style-image: url(../img/pin_2.svg);
}

ul .element-3 {
  list-style-image: url(../img/pin_3.svg);
}

ul .element-4 {
  list-style-image: url(../img/pin_4.svg);
}

ul .element-5 {
  list-style-image: url(../img/pin_5.svg);
}

li.element-1::marker,
li.element-2::marker,
li.element-3::marker,
li.element-4::marker,
li.element-5::marker {
  font-size: 60px;
}

footer p,
footer a {
  font-size: 14px;
  margin: 0;
}

.contact {
  border-left: 2px solid #09392F;
  padding: 10px;
}